body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to left, #95c6937c, rgba(210, 210, 144, 0.689));
}

header {
    text-align: center;
}

header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-image: linear-gradient(to right, #95c693, rgb(210, 210, 144));
    margin-bottom: 0px;
}

.squareImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

header h2 {
    color: black;
    background-image: linear-gradient(to right, #95c693, rgb(210, 210, 144));
    margin-top: 0px;
}

header h4 {
    margin-top: 16px;
    color: #3A4D39;
}

header p {
    margin-top: -10px;
    font-size: x-small;
    color: #739072;
    margin-bottom: 20px;
}

.luasPersegi {
    border-style: groove;
    padding: 10px;
    background-color: beige;
}

.kelilingPersegi {
    margin-top: 10px;
    border-style: groove;
    padding: 10px;
    background-color: #e1f3df;
}

#titleLuas {
    color: white;
    background-color: rgb(136, 136, 20);
    padding: 10px;
    font-size: large;
    text-align: center;
    margin-top: 1px;
    font-weight: bolder;
}

#titleKeliling {
    color: white;
    background-color: #477c45;
    padding: 10px;
    font-size: large;
    text-align: center;
    margin-top: 1px;
    font-weight: bolder;
}

#luasFormula {
    text-align: center;
    font-size: larger;
    background-color: rgb(210, 210, 144);
    font-weight: bolder;
    padding: 5px;
}

#kelilingFormula {
    text-align: center;
    font-size: larger;
    background-color: #95c693;
    font-weight: bolder;
    padding: 5px;
}

.inputSection {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding-top: 10px;
}

#squareSide {
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    border-radius: 8px;
    border: solid rgb(136, 136, 20);
    padding: 10px;
}

#sisiKeliling {
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    border-radius: 8px;
    border: solid #739072;
    padding: 10px;
}

#lblSquareSide {
    font-weight: bolder;
    font-size: large;
    text-align: center;
}

#squareSide:hover {
    border: solid black;
}

#sisiKeliling:hover {
    border: solid black;
}

.buttonL {
    background-color: rgb(136, 136, 20);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}

.buttonK {
    background-color: #739072;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}

.buttonL:hover {
    background-color: rgb(83, 83, 11);
}

.buttonK:hover {
    background-color: #4F6F52;
}

button:active {
    background-color: #3A4D39;
    transform: translateY(2px);
}

#hasilLuas3 {
    font-weight: bolder;
    background-color: rgb(210, 210, 144);
    padding: 5px;
}

#hasilKeliling3 {
    font-weight: bolder;
    background-color: #95c693;
    padding: 5px;
}